* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	position: fixed;
	z-index: 10;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	padding: 10px;
	background-color: #424242;
	box-shadow: 0 3px 20px;
}

.userAvatar {
	width: 64px;
	height: 64px;
	margin-right: 1%;
	border-radius: 100%;
}

.userName {
	margin-right: 1%;
	color: #ffffff;
}

.userName__name {
	color: #8da5ff;
	text-decoration: underline;
}

.auth {
	width: 100px;
	height: 30px;
	cursor: pointer;
}