* {
	font-family: Roboto, sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
} 

a {
	color: #ffffff;
	text-decoration: none;
}

a:visited {
	color: #ffffff;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
}

.author {
	display: flex;
	align-self: flex-start;
}

.author__avatar {
	width: 64px;
	height: 64px;
	object-fit: contain;
	border-radius: 100%;
}

.author__name {
	align-self: center;
	margin-left: 10px;
	font-size: 18px;
	color: #ffffff;
}

.date-likes-container {
	display: flex;
	width: 100%;
	align-self: flex-end;
}

.likes {
	display: flex;
	align-self: flex-end;
	align-items: center;
	margin-left: auto;
	padding: 5px;
	background-color: #42424230;
	border-radius: 5px;
	color: #ffffff90;
	cursor: pointer;
}

.likes-counter {
	margin-left: 5px;
	transform: translateY(2px);
}

.date {
	align-self: flex-end;
	padding: 3px;
	color: #ffffff90;
	background-color: #42424230;
	border-radius: 5px;
}

.show-more-photos {
	align-self: flex-end;
	width: 300px;
	height: 50px;
	margin: 0 auto;
	margin-bottom: 30px;
	border: none;
	background-color: #424242;
	color: #ffffff;
    box-shadow: 0 3px 10px #000000;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}

.show-more-photos:hover {
	color: #424242;
	background-color: #ffffff;
	font-weight: 500;
}