* {
	font-family: Roboto, sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

ul {
	list-style: none;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:visited {
	color: #ffffff;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
}

.likes {
	display: flex;
	align-self: flex-end;
	align-items: center;
	margin-left: auto;
	padding: 5px;
	background-color: #42424230;
	border-radius: 5px;
	color: #ffffff90;
	cursor: pointer;
}

.likes-counter {
	margin-left: 5px;
	transform: translateY(2px);
}